<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.diseasereport.mapper.DoctorMapper">
    <resultMap id="BaseResultMap" type="com.example.diseasereport.model.Doctor">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="occupation" jdbcType="VARCHAR" property="occupation"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
    </resultMap>
    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from Doctor
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.example.diseasereport.model.Doctor">
    insert into Doctor (id, userId, name, 
      department, occupation, phone
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR}, #{occupation,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}
      )
  </insert>

    <update id="updateById" parameterType="com.example.diseasereport.model.Doctor">
    update Doctor
    set userId = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      occupation = #{occupation,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, userId, name, department, occupation, phone
    from Doctor
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="selectAll" resultMap="BaseResultMap">
    select id, userId, name, department, occupation, phone
    from Doctor
  </select>

    <select id="selectByUserId" resultType="com.example.diseasereport.model.Doctor">
    select *
    from Doctor
    where userId=#{userId}
  </select>

    <select id="selectAllInfoAndHealth" resultType="com.example.diseasereport.response.InfoAndHealth">
        select info.*, chart.*
        from UserInfo info left join HealthChart chart on info.userId=chart.userId
    </select>
</mapper>