<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.diseasereport.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.example.diseasereport.model.UserInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="schoolId" jdbcType="VARCHAR" property="schoolId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="urgentPhone" jdbcType="VARCHAR" property="urgentPhone"/>
        <result column="isHKMT" jdbcType="VARCHAR" property="isHKMT"/>
        <result column="isInternational" jdbcType="VARCHAR" property="isInternational"/>
    </resultMap>
    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from UserInfo
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.example.diseasereport.model.UserInfo">
    insert into UserInfo (id, userId, schoolId, 
      name, department, phone, 
      urgentPhone, isHKMT, isInternational
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{schoolId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{urgentPhone,jdbcType=VARCHAR}, #{isHKMT,jdbcType=VARCHAR}, #{isInternational,jdbcType=VARCHAR}
      )
  </insert>

    <update id="updateById" parameterType="com.example.diseasereport.model.UserInfo">
    update UserInfo
    set userId = #{userId,jdbcType=INTEGER},
      schoolId = #{schoolId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      urgentPhone = #{urgentPhone,jdbcType=VARCHAR},
      isHKMT = #{isHKMT,jdbcType=VARCHAR},
      isInternational = #{isInternational,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <insert id="insertOrUpdate" parameterType="com.example.diseasereport.model.UserInfo"
            useGeneratedKeys="true" keyProperty="id">
    insert into UserInfo (userId, schoolId,
      name, department, phone,
      urgentPhone, isHKMT, isInternational
      )
    values (#{userId,jdbcType=INTEGER}, #{schoolId,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{urgentPhone,jdbcType=VARCHAR}, #{isHKMT,jdbcType=VARCHAR}, #{isInternational,jdbcType=VARCHAR}
      )
    on duplicate key update
      userId = #{userId,jdbcType=INTEGER},
      schoolId = #{schoolId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      urgentPhone = #{urgentPhone,jdbcType=VARCHAR},
      isHKMT = #{isHKMT,jdbcType=VARCHAR},
      isInternational = #{isInternational,jdbcType=VARCHAR}
  </insert>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, userId, schoolId, name, department, phone, urgentPhone, isHKMT, isInternational
    from UserInfo
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="selectAll" resultMap="BaseResultMap">
    select id, userId, schoolId, name, department, phone, urgentPhone, isHKMT, isInternational
    from UserInfo
  </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        select *
        from UserInfo
        where userId=#{userId}
    </select>

    <select id="countAll" resultType="java.lang.Long">
        select count(id) as total
        from UserInfo
    </select>
</mapper>